{% extends 'style/style.html' %}
{% block content %}

<div class="navbar">
    <h4>Hello {{request.user.first_name | title}} {{request.user.last_name | title}}</h4>
    <div class="logout"><a href="{% url 'logout' %}">Logout</a></div>
</div>

<div class="container" style="max-width: 90%;">
    <div class="shadow home-cont">
        <h2 style="padding:10px;">Income</h2>
        <div >
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                {% for i in income %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.date}}</td>
                    <td class="icon"><a href="{% url 'edit' i.id %}"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v3.png"/></a></td>
                    <td class="icon"><a href="{% url 'delete' i.id %}"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/></a></td>
                </tr>
                {% endfor %}
                <tr><td>{{income_sum}}</td></tr>
            </table>
        </div>
    </div>
    <div class="shadow home-cont">
        <h2 style="padding:10px;">Expense</h2>
        <div >
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                {% for i in expense %}
                <tr>
                    <td>{{i.title}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.date}}</td>
                    <td class="icon"><a href="{% url 'edit' i.id %}"><img src="https://img.icons8.com/ios-glyphs/30/000000/edit--v3.png"/></a></td>
                    <td class="icon"><a href="{% url 'delete' i.id %}"><img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/></a></td>
                </tr>
                {% endfor %}
                <tr><td>{{expense_sum}}</td></tr>
            </table>
        </div>
    </div>
</div>



<a href="{% url 'addincome' %}">
<div class="floating-button">
    
    <h1>+</h1>
</div>
</a>
{% endblock %}